.container {
  width: 100%;
  background: url("Background_image.svg");
  background-color: #121826;
  color: white;
  font-family: "Outfit";
}

.container h1 {
  text-align: center;
  width: 250px;
  margin-left: 120px;
  font-size: 35px;
}

.des {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(165, 164, 164);
  font-size: 16px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1 {
  background-color: #212936;
  width: 320px;
  height: 400px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
  border-radius: 12px;
}

.image {
  text-align: center;
  margin-left: -15px;
}

.card1 img {
  height: 200px;
  border-radius: 12px;
}

.card1 h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card1 p {
  font-size: 18px;
  width: 250px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: rgb(165, 164, 164);
}

.hand-icon {
  background-color: #fbe5e6;
  width: 35px;
  height: 35px;
  border-radius: 17px;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card2 {
  background-color: #212936;
  width: 320px;
  height: 400px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
  border-radius: 12px;
}

.hockey-icon {
  background-color: #dee9fc;
  width: 35px;
  height: 35px;
  border-radius: 17px;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;
}

.card2 h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card2 p {
  font-size: 18px;
  width: 250px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: rgb(165, 164, 164);
}

.card2 img {
  height: 200px;
  border-radius: 12px;
}

.card3 {
  background-color: #212936;
  width: 320px;
  height: 400px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 25px;
  border-radius: 12px;
}

.card3 img {
  height: 200px;
  border-radius: 12px;
}

.chat-icon {
  background-color: rgb(255, 223, 223);
  width: 35px;
  height: 35px;
  border-radius: 17px;
  text-align: center;
  padding-top: 5px;
  margin-left: 10px;
}

.card3 h2 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card3 p {
  font-size: 18px;
  width: 250px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: rgb(165, 164, 164);
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .container h1 {
    text-align: center;
    width: 450px;
    font-size: 45px;
    margin-left: 440px;
  }

  .des {
    font-size: 22px;
    text-align: center;
  }

  .cards {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .card1,
  .card2,
  .card3 {
    margin-right: 30px;
  }

  .card1 h2,
  .card2 h2,
  .card3 h2 {
    text-align: left;
  }

  .card1 p,
  .card2 p,
  .card3 p {
    text-align: left;
  }
}


